hospedagemapp/__pycache__/*
/apps/hospedagem/__pycache__/*
/apps/hospedagem/migrations/*
/apps/categorias/__pycache__/*
/apps/categorias/migrations/*
/apps/localizacao/__pycache__/*
/apps/localizacao/migrations/*
/apps/anfitrioes/__pycache__/*
/apps/anfitrioes/migrations/*