hospedagemapp/__pycache__/*
/apps/hospedagem/__pycache__/*
/apps/hospedagem/migrations/*
/apps/categoria/__pycache__/*
/apps/categoria/migrations/*
/apps/localizacao/__pycache__/*
/apps/localizacao/migrations/*
/apps/anfitriao/__pycache__/*
/apps/anfitriao/migrations/*