hospedagemapp/__pycache__/*
/apps/hospedagens/__pycache__/*
/apps/hospedagens/migrations/*
/apps/categorias/__pycache__/*
/apps/categorias/migrations/*
/apps/localizacoes/__pycache__/*
/apps/localizacoes/migrations/*
/apps/anfitrioes/__pycache__/*
/apps/anfitrioes/migrations/*
/apps/clientes/__pycache__/*
/apps/clientes/migrations/*
/apps/pagamentos/__pycache__/*
/apps/pagamentos/migrations/*
/apps/reservas/__pycache__/*
/apps/reservas/migrations/*